@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

#logo {
    font-family: 'Girassol', cursive;
    font-size: 36px;
}


.parallax-container img {
    height: 300px; 
}
     
