@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

* {
    font-family: 'Girassol', cursive;     
}

img {
    height: 700px !important; 
}

#logo {
    font-family: 'Girassol', cursive;
    font-size: 36px;
}

#options {
    font-family: 'Girassol', cursive;
}

.parallax-container img {
    height: 300px; 
}

#card-title,
#card-title2 {
    font-size: 36px !important;
    text-decoration: underline; 
}

#ingredients,
#ingredients2 {
    font-size: 24px; 
}

#instructions,
#translated-instructions {
    font-size: 18px; 
}

#recipe-title {
    text-decoration: underline;
}

.historyBtn {
    margin: 5px; 

}

footer {
    font-size: 16px; 
}
     
